<!doctype html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>NexTask</title>

    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
        rel="stylesheet"
    >

</head>

<body>

    <h1 class="text-center mt-4">
        NexTask
    </h1>

    {% if messages %}

        {% for message in messages %}

            <div class="alert alert-danger text-center">
                {{ message }}
            </div>

        {% endfor %}

    {% endif %}
    {% if user.is_authenticated %}
        {% include 'navbar.html' %}
    {% endif %}
    {% block content %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>